[Dd]ebug/
[Rr]elease/
[Pp]ackages/
[Bb]in
[Oo]bj
*/obj/Debug/*
*Backup*/
*UpgradeLog*.XML
*_UpgradeReport_Files/*
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.dll
*.exe
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
*_ReSharper*
*.ncrunch*
.*crunch*.local.xml
[Ee]xpress
[Tt]est[Rr]esult*
*.Cache
ClientBin
[Ss]tyle[Cc]op.*
*.dbmdl
