<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://127.0.0.1:8087/</SiteUrlToLaunchAfterPublish>
    <publishUrl>http://127.0.0.1:8087/</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Readme/Elmah.txt">
      <publishTime>07/26/2012 18:12:58</publishTime>
    </File>
    <File Include="bin/Elmah.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/NuGet.Server.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/NuGetSite.dll">
      <publishTime>07/26/2012 18:19:18</publishTime>
    </File>
    <File Include="bin/RouteMagic.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>07/26/2012 18:12:54</publishTime>
    </File>
    <File Include="DataServices/Packages.svc">
      <publishTime>07/26/2012 18:13:01</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>07/26/2012 18:13:00</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>07/26/2012 18:13:00</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>07/26/2012 18:13:02</publishTime>
    </File>
    <File Include="Packages/Readme.txt">
      <publishTime>07/26/2012 18:13:00</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/26/2012 18:19:51</publishTime>
    </File>
  </ItemGroup>
</Project>